In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.27-cp38-cp38-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.1-cp38-cp38-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.27 protobuf-3.19.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
from mysqldb_python import CreateTable

In [5]:
conn=CreateTable()
conn.connectToDB("localhost","manidhar","manidhar")
print(conn.showDatases())
# create table
conn.createTable("manidhar","employee","emp_id int(10) primary key,emp_name varchar(20),emp_salary int(10)")
# insert data
conn.insertData("manidhar","employee","emp_id,emp_name,emp_salary","1,'Nagaraju',2500000")
conn.insertData("manidhar","employee","emp_id,emp_name,emp_salary","2,'Swaroop',2000000")
conn.insertData("manidhar","employee","emp_id,emp_name,emp_salary","3,'Manidhar',1800000")
# fetch data
print(conn.fetchData("manidhar","employee","emp_id,emp_name,emp_salary","emp_id=1"))
conn.closeConnection()

<mysql.connector.connection.MySQLConnection object at 0x000001D52F80F160>
('eastface_eastface',)
('information_schema',)
('manidhar',)
('mysql',)
('mytestdb',)
('mytestdb1',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('vaddidb',)
('world',)
None
Error inserting data :  1062 (23000): Duplicate entry '1' for key 'employee.PRIMARY'
Error inserting data :  1062 (23000): Duplicate entry '2' for key 'employee.PRIMARY'
[(1, 'Nagaraju', 2500000)]

In [15]:
import pandas as pd
conn1=CreateTable()
conn1.connectToDB("localhost","manidhar","manidhar")
df=pd.read_sql_query("select * from manidhar.employee",conn1.mysqldb)
df1=pd.read_sql("select * from manidhar.employee",conn1.mysqldb)
conn1.closeConnection()
print(df)
df1

   emp_id  emp_name  emp_salary
0       1  Nagaraju     2500000
1       2   Swaroop     2000000
2       3  Manidhar     1800000

   emp_id  emp_name  emp_salary
0       1  Nagaraju     2500000
1       2   Swaroop     2000000
2       3  Manidhar     1800000

In [1]:
bacon = 22
bacon+1
bacon

22

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

In [4]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [5]:
True and False

False

In [6]:
True and True

True

In [7]:
True or False
False or False

False

In [9]:
not True

False

In [11]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [13]:
i=0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('Generic_ED_2009.xlsx',sheet_name='Generic ED Data')

In [4]:
df.head()

,MRN,Presentation Visit Number,Triage Priority,Age (yrs),Arrival Date,Dr Seen Date,Depart Actual Date,Depart Status Code,Departure Status Desc.,Depart. Dest. Code,Depart. Dest. Desc.,TimeDiff Arrival-Actual Depart (mins),TimeDiff TreatDrNr-Act. Depart (mins),Presenting Complaint Code,Presenting Complaint Desc.,Diag Code,Diagnosis Desc.
0,67269,63190,3,15,2009-01-01 00:17:00,2009-01-01 02:11:00,2009-01-01 12:30:00,H,ED SERVICE EVENT COMPLETED - DISCHARGED,DISCH,* DISCHARGED,733,619.0,4000.0,DRUG / ALCOHOL / POISONING,F43.9,EMOTIONAL CRISIS
1,444991,63193,4,15,2009-01-01 00:35:00,2009-01-01 03:01:00,2009-01-01 07:35:00,W,DID NOT WAIT,DNW,* DID NOT WAIT,420,274.0,9000.0,INJURY,Z53.2,DID NOT WAIT
2,444992,63194,4,8,2009-01-01 00:55:00,2009-01-01 01:08:00,2009-01-01 01:08:00,H,ED SERVICE EVENT COMPLETED - DISCHARGED,DISCH,* DISCHARGED,13,0.0,7000.0,EYE,H10.9,CONJUNCTIVITIS
3,444999,63213,3,12,2009-01-01 03:22:00,2009-01-01 04:34:00,2009-01-01 05:00:00,H,ED SERVICE EVENT COMPLETED - DISCHARGED,DISCH,* DISCHARGED,98,26.0,25000.0,PAIN,H60.9,OTITIS EXTERNA
4,429921,63217,4,15,2009-01-01 03:55:00,2009-01-01 06:30:00,2009-01-01 08:29:00,H,ED SERVICE EVENT COMPLETED - DISCHARGED,DISCH,* DISCHARGED,274,119.0,9000.0,INJURY,S83.6,KNEE SPRAIN / STRAIN

In [6]:
df.to_csv('Generic_ED_2009.csv',index=False)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30188 entries, 0 to 30187
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   MRN                                    30188 non-null  int64
 1   Presentation Visit Number              30188 non-null  int64
 2   Triage Priority                        30188 non-null  int64
 3    Age  (yrs)                            30188 non-null  int64
 4   Arrival Date                           30188 non-null  datetime64[ns]
 5   Dr Seen Date                           30004 non-null  datetime64[ns]
 6   Depart Actual Date                     30188 non-null  datetime64[ns]
 7   Depart Status Code                     30188 non-null  object
 8   Departure Status Desc.                 30188 non-null  object
 9   Depart. Dest. Code                     30188 non-null  object
 10  Depart. Dest. Desc.                    30188 non-null  object
 11  TimeDiff Arrival-Actual Depart (mins)  30188 non-null  int64
 12  TimeDiff TreatDrNr-Act. Depart (mins)  30187 non-null  float64
 13  Presenting Complaint Code              30169 non-null  float64
 14  Presenting Complaint Desc.             30169 non-null  object
 15  Diag Code                              30188 non-null  object
 16  Diagnosis Desc.                        30188 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(5), object(7)
memory usage: 3.9+ MB